* {
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  grid-template-areas:
  "h h h h"
  "s1 s2 s3 as"
  "s1 s2 s3 as"
  "m m m as"
  "f f f f";
  background-color: steelblue;
}

