* {
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  width: max-content;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: repeat(5, 7rem);
  grid-gap: 1rem;
  grid-template-areas:
  "h h h h"
  "s1 s2 s3 as"
  "s1 s2 s3 as"
  "m m m as"
  "f f f f";
}

header {
  grid-area: h;
  background-color: steelblue;
  padding: 1rem;
  border-radius: 1rem;
}

.box1 {
  grid-area: s1;
  background-color: steelblue;
  padding: 1rem;
  border-radius: 1rem;
}

.box2 {
  grid-area: s2;
  background-color: steelblue;
  padding: 1rem;
  border-radius: 1rem;
}

.box3 {
  grid-area: s3;
  background-color: steelblue;
  padding: 1rem;
  border-radius: 1rem;
}

aside {
  grid-area: as;
  background-color: steelblue;
  padding: 1rem;
  border-radius: 1rem;
}

article {
  grid-area: m;
  background-color: steelblue;
  padding: 1rem;
  border-radius: 1rem;
}

footer {
  grid-area: f;
  background-color: steelblue;
  padding: 1rem;
  border-radius: 1rem;
}
